<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle Name="CheckMechanic Setup"
          Manufacturer="CheckMechanic"
          Version="$(var.BundleVersion)"
          UpgradeCode="0E1F9A21-EE46-4DAB-A13D-8F0C6BB5C4E0"
          DisableModify="yes"
          DisableRemove="no">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="standard"
                                              SuppressOptionsUI="no"
                                              ShowVersion="yes" />
    </BootstrapperApplication>

    <!-- Core Temp detection: confirmed registry key on x64 -->
    <util:RegistrySearch Id="CoreTempUninstallKey"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{086D343F-8E78-4AFC-81AC-D6D414AFD8AC}_is1"
                         Variable="CoreTempRegKeyExists"
                         Result="exists" />

    <Chain>
      <ExePackage Id="CoreTemp"
                  DisplayName="Core Temp"
                  PerMachine="yes"
                  Permanent="yes"
                  SourceFile="$(var.CoreTempPayloadPath)"
                  InstallArguments="/VERYSILENT /NORESTART"
                  DetectCondition="CoreTempRegKeyExists = 1"
                  InstallCondition="CoreTempRegKeyExists &lt;&gt; 1"
                  Vital="yes" />

      <MsiPackage Id="CheckMechanicMsi"
                  SourceFile="$(var.MsiPath)"
                  Visible="no"
                  Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
